//
using Newtonsoft.Json;
using Newtonsoft.Json.Converters;
namespace {{package}}
{{#model}}
{
    [JsonConverter(typeof(StringEnumConverter))]
    internal enum {{className}}
    {
        {{#values}} {{.}}, {{/values}}
    }
}

{{/model}}