using System;
using System.Collections;
using System.Collections.Generic;
using Newtonsoft.Json;

{{#models}}
{{#model}}
namespace {{package}} {
  internal class {{classname}} {
    {{#vars}}

    {{#description}}/* {{{description}}} */
    {{/description}}
    [JsonProperty("{{name}}")]
    public {{{datatype}}} {{name}} { get; set; }

    {{/vars}}

    public override string ToString()  {
      var sb = new StringBuilder();
      sb.Append("class {{classname}} {\n");
      {{#vars}}
      sb.Append("  {{name}}: ").Append({{name}}).Append("\n");
      {{/vars}}
      sb.Append("}\n");
      return sb.ToString();
    }
  }
  {{/model}}
  {{/models}}
}